*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/**Header igual en cada html**/

.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
}
.navbar-nav {
    text-decoration: none;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.navbar-nav li a {
    color: green;
}

/**Primer HTML "Index"**/
.portada {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}
.tiendaFotos{
    padding: 30px;
}
.tienda{
    padding: 20px;
    font-size: 40px;
    text-align: center;
}
.cardsAdop{
    padding: 20px;
}
.adopciones{
    padding: 30px;
    font-size: 40px;
    text-align: center;
}

/**Segundo HTML "Nosotros"**/
.nosotros{
    background-color: rgb(174, 238, 174);
}
.nosotros section{
    padding: 30px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.nosFormulario{
    display: flex;
    flex-direction: column;
}
.btn-outline-secondary{
    color: crimson;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

/**Tercer HTML "Donaciones"**/

.donacOp{
    padding: 20px;
    height: 10cm;
    width: 15cm;
    background-color: rgb(243, 131, 91);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25;
    font-weight: bold;
}
.donacOp button{
    color: crimson;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

/**Cuarto HTML "Campañas"**/

.campaña{
    padding: 25px;
    font-size: 40px;
    text-align: center;
}

.tipoCampaña{
    padding: 35px;
}

.tipoCampaña h2{
    padding: 20px;
}

.video{
    width: 100%;
    height: 100vh;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**Quinto HTML "Ubicacion"**/

.fondoUbic {
    margin: 0;
    border: 0;
    padding: 0;
    background-color: rgb(174, 238, 174);
}
.mapa{
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/**Footer igual en cada pagina**/
footer{
    background-color: rgb(15, 141, 15);
    height: 50px;
}
.iconosRedes{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
