.fondoUbic {
    background-color: $background-principal
}

.textUbic {
    padding: 25px;
}

.mapa {
    width: 100%;
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}